<!DOCTYPE html>
<html>
<head>
	<title></title>

<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/help.css">
</head>
<body>
<h3>This is how to use 'Gymfinity':</h3>
<h4>For <b>New users--></b></h4>
<ol>
	<li>Fill the form which is obtained when you click on <b>REGISTER</b> button in the navigation bar. </li>
	<li>Click on <b>Create Account</b> button.</li>
	<li>After filling form make sure you confirm your email adresss while verifying you email.</li>

</ol>
<br><br>
<h4>For Existing Users--></h4>
<ol>
	<li>Fill your username or Membership number (which is unique).</li>
	<li>Fill password of your Account.</li>
	<li>Click on Login button.</li>
</ol><br><br>

<h4>Who can become a partner?</h4>
Person owning a gym , who is or having a well reputed trainer and experience as well can become a part of 'Gymfinity'.It is open for everybody having a gym.
</body>
</html>